Field 1: <input type="text" [(ngModel)]="this.stringA" /><br />
Field 2: <input type="text" [(ngModel)]="this.stringB" /><br />
Action: <select [(ngModel)]="this.actionType">
  <option value="concatenate">Concatenate</option>
  <option value="mix">Mix</option>
  <option value="add">Add</option>
  <option value="subtract">Subtract</option>
  <option value="multiply">Multiply</option>
  <option value="divide">Divide</option>
</select><br />
Result: <input type="text" *ngIf="this.result" [(ngModel)]="this.result.result" readonly><br /><br />
<input type="button" (click)="calculate()" value="Calculate" /><br />
<input type="button" (click)="getAllActionsHistory()" value="Get All Actions' History" /><br />
<input type="button" (click)="getMonthlyActionsAmountByType()" value="Get Monthly Actions Amount By Type" /><br />
<input type="button" (click)="getMarginalActionResultsByType()" value="Get Marginal Action Results By Type" /><br />
<table *ngIf="this.calcActions">
  <tr>
    <td>ID</td>
    <td>String A</td>
    <td>String B</td>
    <td>Result</td>
    <td>Action Type</td>
    <td>Date & Time</td>
  </tr>
  <tr *ngFor="let item of this.calcActions">
    <td>{{item.id}}</td>
    <td>{{item.stringA}}</td>
    <td>{{item.stringB}}</td>
    <td>{{item.result}}</td>
    <td>{{item.actionType}}</td>
    <td>{{item.dateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
  </tr>
</table>